.button {
    -fx-background-image: url('../../Image/FantasyButton/Fantasy_Button_Blue.png');
}

.button:hover {
    -fx-background-image: url('../../Image/FantasyButton/Fantasy_Button_Blue_Hover.png');
}

.button:pressed {
    -fx-background-image: url('../../Image/FantasyButton/Fantasy_Button_BLue_Pressed.png');
}
